
html,body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}
body{
    position:relative;
}

/*navigation bar*/

.bar{
    position: fixed;
    background-color: rgb(230,230,230);
    width: 100%;
    height: 65px;
    z-index: 1;
    opacity: 0.8;
    top:0px;
}


.name{
    margin-left:5%;
    font-size: 250%;
    width:300px;
    float:left;
    margin-top: 0.7%;
    color:rgb(54, 1, 83);
}

ul{
    list-style-type:none;
    display:flex;
    flex-direction: row;
    margin-right: 0%;
    margin-left: 59%;
}

a{
    font-size:150%;
    margin: 0.5% 15% 0 -3%;
    color: rgb(54, 1, 83);
    text-decoration: none;
    border-bottom: transparent solid 0px;
    transition: 500ms;
}

a:hover{
    border-bottom: rgb(54, 1, 83) solid 2px;
    transition: 500ms;
}

a:active{
    color: rgb(0, 110, 255);
    transition: 100ms;
}

/*first content*/


.presentationContainer{
    position:absolute;
    width: 50%;
    height: 100%;
    background-color: rgb(230, 230, 230);
}

#presentation{
    width: 61%;
    height: 50%;
    margin: 180px 10% -179px 40%;
    opacity: 0;
}

.presentationAppear{
    animation-name: appear-text;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;}

.presentationContainer h1,.presentationContainer h2, .presentationContainer p{
    display: inline;
}

.shine{color:rgb(54, 1, 83)}

.presentationContainer h1{font-size: 3vw;}

.presentationContainer h2{font-size: 4.5vw;}

.presentationContainer p{font-size: 3vw;}


.professional_buttons{
    height: 6vw;
    display: flex;
}
.github, .email, .linkedin{
    font-size: 3vw;
    width:5vw;
    height: 5vw;
    display: inline-block;
    margin: 1%;
    transition: 0ms;
    align-self: flex-end;
}

 .github{
    background: url(github.png);
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.email{
    background: url(email.png);
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.linkedin{
    background: url(linkedin.png);
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

@keyframes appear-text{
    from{opacity: 0;
        margin: 0;
    
    }
    to{opacity: 1;
        margin: 180px 10% -179px 40%;
    }
}

.pictureContainer{
    background-color: rgb(102, 31, 168);
    width: 70%;
    height: 100%;
    float: right;
}
#personalPicture{
    float: right;
    width: 40%;
    border-radius: 100%;
    border: solid white 3px;
    transition: 1000ms;
    margin-top: 10vw;
    margin:20%;
    opacity: 0;
}
#personalPictureAppear,#personalPictureAppearHover{
    float: right;
    width: 40%;
    border-radius: 100%;
    border: solid white 3px;
    transition: 1000ms;
    margin-top: 10vw;
    margin:20%;
    opacity: 1;
    animation-name: appear;
    animation-duration: 1.0s;
    animation-delay:0.7;
    animation-timing-function:ease-in-out;
    animation-fill-mode:inherit;
}


#personalPictureAppearHover:hover{
    border: solid rgb(234, 0, 255) 3px;
    margin-top: 12vw;
    width: 41%;
    margin:18.5%;

}


@keyframes appear{    
    from{opacity: 0;
        margin:0%;
        }
    to{opacity: 1;
        margin:20%;
        }
}

/*projects content*/

.projectPlace{
    margin-top: 100%;
    background-color: rgb(102, 31, 168);
    width: 100%;
    display: flex;
    flex-direction:column;
}

.projectContainer{
    width: 50%;
    margin:auto;
    position:relative;
}

/*project List*/

#projectId1,#projectId2,#projectId3{
    width:100%;
    margin:1%;
    display: flex;
    margin-top: 10%;
    border-radius: 20px;
    opacity: 0;}


/*project animation*/

.projectAppear{
    width:100%;
    margin:1%;
    display: flex;
    margin-top: 10%;
    border-radius: 20px;
    opacity: 0;
    animation-name: projectEnter;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes projectEnter{
    from{opacity: 0;
        margin-left:-30%;}
    to{opacity: 1;
        margin-left:1%;}
}


/*project 1 hover number*/

.projectN{
    background-color: rgb(230, 230, 230);
    width: 15%;
    height: 22%;
    border-radius: 50px;
    text-align: center;
    display: table-cell;
    font-size: 6vw;
    position: absolute;
    top: 12%;
    left: -1%;
    opacity: 0;
    animation-name:reverseNumber;
    animation-duration: 0.5s;
}

@keyframes reverseNumber{
    from{opacity:0.7;
        margin-left: 0;
    }
    to{opacity: 0;
        margin-left: -25%;
    }
}

.projectAppear:hover ~ .projectN, .projectN:hover{
    animation-name:showNumber1;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes showNumber1{
    from{opacity: 0;
        margin-left: -25%;       
    }
    to{opacity: 0.7;
        margin-left: 0;
    }
}


/*project 1 hover tecnologies*/

.tecnologies{
    background-color:rgba(230, 230, 230,0.7);
    width: 23%;
    height: 79%;
    right: -2.5%;
    top: 12.5%;
    opacity: 0;
    position: absolute;
    animation-name:reverseTecnologies;
    animation-duration: 0.5s;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@keyframes reverseTecnologies{
    from{opacity:1;
        top: 12.5%;
    }
    to{opacity: 0;
        top: -20%;
    }
}

.projectAppear:hover ~ .tecnologies, .tecnologies:hover{
    animation-name:showTecnologies;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes showTecnologies{
    from{opacity: 0;
        top: -20%;
    }
    to{opacity: 1;
        top: 12.5%;
    }
}

/*Tecnologies Buttons*/

.htmlButton, .cssButton, .javascriptButton{
    width: 70%;
    height: 30%;
    align-self: center;
    background:url(html-css-js-logo.png);
    background-size: 260%;
}

.htmlButton{
    background-position: 0 -7px;
}

.cssButton{
    background-position: 100% -7px;
}

.javascriptButton{
    background-position: 50% -7px;
}

/*projects hover code*/

.seeProjectAndCode{
    width:75%;
    height: 25%;
    background-color:rgba(230, 230, 230, 0.7);
    position: absolute;
    margin-top: -16%;
    margin-left: -0.5%;
    opacity: 0;
    animation-name:reverseApp;
    animation-duration: 0.5s;
    border-radius: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@keyframes reverseApp{
    from{opacity:1;
        margin-top: -16%;
    }
    to{opacity: 0;
        margin-top: 10%;
    }
}

.seeProjectAndCode:hover, .projectAppear:hover ~ .seeProjectAndCode{
    opacity:1;
    animation-name:showCode;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes showCode{
    from{opacity: 0;
        margin-top: 10%;       
    }
    to{opacity: 1;
        margin-top: -16%;
    }
}

/*Project and Code buttons*/

.seeProject, .seeCode{
    opacity: 1;
    z-index: 1;
    animation-duration: 0.5s;
    background-color: rgb(102, 31, 168);
    color:rgb(230, 230, 230);
    width: 40%;
    opacity: 0.9;
    border: none;
    height: 32%;
    align-self: center;
    font-size: 1.5vw;
    border-radius: 0.5vw;
}
/* color testing for buttons */
.seeProject:hover, .seeCode:hover{
    border: solid 3px rgb(0, 0, 0);
}

.seeProject:active, .seeCode:active{
    border: solid 2px rgb(197, 25, 25);
}

/*about*/
.about, .contact{
    background-color: violet;
    width: 99%;
    display:flex;
    flex-direction: column;
    border: solid 1px black;
    margin: auto;
}

.about h2,.about p,.contact h2,.contact p{
    margin: auto;
    margin-top: 1%;
    padding: 2% 20%;
}

.about h2,.contact h2{
    font-size: 3vw;
}