
html,body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}
body{
    position:relative;
}

/*navigation bar*/

.bar{
    position: fixed;
    background-color: rgb(230,230,230);
    width: 100%;
    height: 7vw;
    z-index: 1;
    opacity: 0.8;
    top:0px;
}


.name{
    margin-left:5%;
    font-size: 4.5vw;
    width:40%;
    float:left;
    margin-top: 0.7%;
    color:rgb(54, 1, 83);
}

ul{
    list-style-type:none;
    display:flex;
    flex-direction: row;
    margin-top:0;
    margin-right: 0%;
    margin-left: 57%;
    height:7vw;
}

a{
    font-size:2.5vw;
    margin: 4.5% 23% 0 -10%;
    color: rgb(54, 1, 83);
    text-decoration: none;
    border-bottom: transparent solid 0px;
    transition: 100ms;
    height:45%;
}

a:hover{
    border-bottom: rgb(54, 1, 83) solid 2px;
    transition: 500ms;
}

a:active{
    color: rgb(0, 110, 255);
    transition: 100ms;
}

/*first content*/


.presentationContainer{
    position:absolute;
    width: 50%;
    height: 50vw;    
    background-color: rgb(230, 230, 230);
}

#presentation{
    width: 61%;
    opacity: 0;
}

.presentationAppear{
    animation-name: appear-text;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;}

@keyframes appear-text{
    from{opacity: 0;
        margin: 0;
    
    }
    to{opacity: 1;
        margin: 25% 20%  0% 35%;
    }
}

.presentationContainer h1,.presentationContainer h2, .presentationContainer p{
    display: inline;
}

.shine{color:rgb(54, 1, 83)}

.presentationContainer h1{font-size: 3vw;}

.presentationContainer h2{font-size: 4.5vw;}

.presentationContainer p{font-size: 3vw;}


.professional_buttons{
    height: 5vw;
    display: flex;
}
.github, .email, .linkedin{
    font-size: 3vw;
    width:5vw;
    height: 5vw;
    display: inline-block;
    margin: 1%;
    transition: 0ms;
    align-self: flex-end;
}

 .github{
    background: url(github.png);
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.email{
    background: url(email.png);
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.linkedin{
    background: url(linkedin.png);
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: 50% 0;
}


.pictureContainer{
    background-color: rgb(102, 31, 168);
    width: 70%;
    height: 50vw;
    float: right;
}
#personalPicture{
    float: right;
    width: 40%;
    border-radius: 100%;
    border: solid white 3px;
    transition: 1000ms;
    margin-top: 10vw;
    margin:20%;
    opacity: 0;
}
#personalPictureAppear,#personalPictureAppearHover{
    float: right;
    width: 40%;
    border-radius: 100%;
    border: solid white 3px;
    transition: 1000ms;
    margin-top: 10vw;
    margin:20%;
    opacity: 1;
    animation-name: appear;
    animation-duration: 1.0s;
    animation-delay:0.7;
    animation-timing-function:ease-in-out;
    animation-fill-mode:inherit;
}


#personalPictureAppearHover:hover{
    border: solid rgb(234, 0, 255) 3px;
    margin-top: 12vw;
    width: 41%;
    margin:18.5%;

}


@keyframes appear{    
    from{opacity: 0;
        margin:0%;
        }
    to{opacity: 1;
        margin:20%;
        }
}

/*projects content*/

.projectPlace{
    background-color: rgb(102, 31, 168);
    width: 100%;
    display: flex;
    flex-direction:column;
    padding-bottom:100px;
}

.projectContainer{
    width: 50%;
    margin:auto;
    position:relative;
}

/*project List*/

#projectId1,#projectId2,#projectId3{
    width:100%;
    margin:1%;
    display: flex;
    margin-top: 10%;
    border-radius: 20px;
    opacity: 0;}


/*project animation*/

.projectAppear{
    width:100%;
    margin:1%;
    display: flex;
    margin-top: 10%;
    border-radius: 20px;
    opacity: 0;
    animation-name: projectEnter;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes projectEnter{
    from{opacity: 0;
        margin-left:-30%;}
    to{opacity: 1;
        margin-left:1%;}
}

.description{
    width:57%;
    height: 54%;
    background-color:  rgba(230, 230, 230,0.7);
    border-radius: 1vw;
    position: absolute;
    top:20%;
    left:21%;
    opacity: 0;
    font-size: 2vw;
}

.projectAppear:hover ~ .description, .description:hover{
    animation-name: opa;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}

@keyframes opa{
    from{opacity: 0;
}
to{opacity: 1;}
}


/*project 1 hover number*/

.projectN{
    background-color: rgb(230, 230, 230);
    width: 12%;
    height: 19%;
    border-radius: 50px;
    text-align: center;
    display: table-cell;
    font-size: 5vw;
    position: absolute;
    top: 12%;
    left: -1%;
    opacity: 0;
    animation-name:reverseNumber;
    animation-duration: 0.5s;
}

@keyframes reverseNumber{
    from{opacity:0.7;
        margin-left: 0;
    }
    to{opacity: 0;
        margin-left: -25%;
    }
}

 .projectAppear:hover ~ .projectN, .projectN:hover, .description:hover ~ .projectN{
    animation-name:showNumber1;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
} 

@keyframes showNumber1{
    from{opacity: 0;
        margin-left: -25%;       
    }
    to{opacity: 0.7;
        margin-left: 0;
    }
}


/*project 1 hover tecnologies*/

.tecnologies{
    background-color:rgba(230, 230, 230,0.7);
    width: 13%;
    height: 50%;
    right: -1%;
    margin-top: 1.6%;
    padding-top:2%;
    opacity: 0;
    position: absolute;
    animation-name:reverseTecnologies;
    animation-duration: 0.5s;
    border-radius: 0.3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
}

@keyframes reverseTecnologies{
    from{opacity:1;
        top: 12.5%;
    }
    to{opacity: 0;
        top: -20%;
    }
}

.projectAppear:hover ~ .tecnologies, .tecnologies:hover, .description:hover ~ .tecnologies{
    animation-name:showTecnologies;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes showTecnologies{
    from{opacity: 0;
        top: -20%;
    }
    to{opacity: 1;
        top: 12.5%;
    }
}

/*Tecnologies Buttons*/

.htmlButton, .cssButton, .javascriptButton{
    width: 70%;
    height: 30%;
    align-self: center;
    background:url(html-css-js-logo.png);
    background-size: 260%;
}

.htmlButton{
    background-position: 0 -7px;
}

.cssButton{
    background-position: 100% -7px;
}

.javascriptButton{
    background-position: 50% -7px;
}

/*projects hover code*/

.seeProjectAndCode{
    width: 91.5%;
    height: 15%;
    background-color:rgba(230, 230, 230, 0.7);
    position: absolute;
    left: 1%;
    bottom:1.6%;
    opacity: 0;
    animation-name:reverseApp;
    animation-duration: 0.5s;
    border-radius: 0.3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@keyframes reverseApp{
    from{opacity:1;
        bottom:1.6%;
    }
    to{opacity: 0;
        bottom: -20%;
    }
}

.seeProjectAndCode:hover, .projectAppear:hover ~ .seeProjectAndCode, .description:hover ~ .seeProjectAndCode{
    animation-name:showCode;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes showCode{
    from{opacity: 0;
        bottom: -20%;       
    }
    to{opacity: 1;
        bottom: 1.6%;
    }
}

/*Project and Code buttons*/

.seeProject, .seeCode{
    opacity: 1;
    z-index: 1;
    animation-duration: 0.5s;
    background-color: rgb(102, 31, 168);
    color:rgb(230, 230, 230);
    width: 40%;
    opacity: 0.9;
    border: none;
    height: 50%;
    align-self: center;
    font-size: 1.5vw;
    border-radius: 0.5vw;
}
/* color testing for buttons */
.seeProject:hover, .seeCode:hover{
    border: solid 3px rgb(0, 0, 0);
}

.seeProject:active, .seeCode:active{
	border: solid 2px rgb(197, 25, 25);
}

/*about*/
.about{
    background-color: violet;
    width: 99%;
    display:flex;
    flex-direction: column;
    border: solid 1px black;
    margin: auto;
}

.aboutTittle{
/*	border: blue 3px solid;
*/	margin: 0 auto;
	width:30vw;
	height:10vw;
	position:relative;
}

.aboutLetters{
	display:inline-block;
	animation-name:getTittle;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	position:absolute;
	left:8vw;
	top:-10px;
}

@keyframes getTittle{
	from{left:-12vw}
	to{left:8vw}
}

.boxup1, .boxup2{
	background-color: transparent;
	display:inline-block;
	position:absolute;
	width: 13vw;
	left: -14vw;
	border-right: solid transparent 5vw;
	border-bottom: solid violet 5vw;
}

.boxup1{
	border-bottom: solid white 5vw;
	left:-13vw;
}


.contact{
    background-color: violet;
    width: 99%;
    display:flex;
    flex-direction: column;
    border: solid 1px black;
    margin: auto;
}

.about p,.contact h2,.contact p{
    margin: auto;
    margin-top: 1%;
    padding: 2% 20%;
}

.contact h2{
    font-size: 3vw;
}
