
html,body{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}
body{
	position:relative;
}

/*navigation bar*/

.bar{
	position: fixed;
	background-color: rgb(230,230,230);
	width: 100%;
	height: 7vw;
	z-index: 1;
	opacity: 0.8;
	top:0px;
}


.name{
	margin-left:5%;
	font-size: 4.5vw;
	width:40%;
	float:left;
	margin-top: 0.7%;
	color:rgb(54, 1, 83);
}

ul{
	list-style-type:none;
	display:flex;
	flex-direction: row;
	margin-top:0;
	margin-right: 0%;
	margin-left: 57%;
	height:7vw;
}

a{
	font-size:2.5vw;
	margin: 4.5% 23% 0 -10%;
	color: rgb(54, 1, 83);
	text-decoration: none;
	border-bottom: transparent solid 0px;
	transition: 100ms;
	height:45%;
}

a:hover{
	border-bottom: rgb(54, 1, 83) solid 2px;
	transition: 500ms;
}

a:active{
	color: rgb(0, 110, 255);
	transition: 100ms;
}

/*first content*/


.presentationContainer{
	position:absolute;
	width: 50%;
	height: 50vw;    
	background-color: rgb(230, 230, 230);
}

#presentation{
	width: 61%;
	opacity: 0;
}

.presentationAppear{
	animation-name: appear-text;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-delay: 0.8s;
	animation-fill-mode: forwards;
}

@keyframes appear-text{
	from{opacity: 0;
		margin: 0;

	}
	to{opacity: 1;
		margin: 25% 20%  0% 35%;
	}
}

.presentationContainer h1,.presentationContainer h2, .presentationContainer p{
	display: inline;
}

.shine{color:rgb(54, 1, 83)}

.presentationContainer h1{font-size: 3vw;}

.presentationContainer h2{font-size: 4.5vw;}

.presentationContainer p{font-size: 3vw;}


.professional_buttons{
	height: 5.5vw;
	display: flex;
}
.github, .email, .linkedin{
	font-size: 3vw;
	width:5vw;
	height: 5vw;
	display: inline-block;
	margin: 0 2%;
	transition: 0ms;
	align-self: flex-end;
}

.github{
	background: url(github.png);
	background-size: 95%;
	background-repeat: no-repeat;
	background-position: 50% 0;
}

.email{
	background: url(email.png);
	background-size: 95%;
	background-repeat: no-repeat;
	background-position: 50% 0;
}

.linkedin{
	background: url(linkedin.png);
	background-size: 95%;
	background-repeat: no-repeat;
	background-position: 50% 0;
}


.pictureContainer{
	background-color: rgb(102, 31, 168);
	width: 70%;
	height: 50vw;
	float: right;
}
#personalPicture{
	float: right;
	width: 40%;
	border-radius: 100%;
	border: solid white 3px;
	transition: 1000ms;
	margin-top: 10vw;
	margin:20%;
	opacity: 0;
}
#personalPictureAppear,#personalPictureAppearHover{
	float: right;
	width: 40%;
	border-radius: 100%;
	border: solid white 3px;
	transition: 1000ms;
	margin-top: 10vw;
	margin:20%;
	opacity: 1;
	animation-name: appear;
	animation-duration: 1.0s;
	animation-delay:0.7;
	animation-timing-function:ease-in-out;
	animation-fill-mode:inherit;
}


#personalPictureAppearHover:hover{
	border: solid rgb(234, 0, 255) 3px;
	margin-top: 12vw;
	width: 41%;
	margin:18.5%;

}


@keyframes appear{    
	from{opacity: 0;
		margin:0%;
	}
	to{opacity: 1;
		margin:20%;
	}
}

/*projects content*/

.projectPlace{
	background-color: rgb(102, 31, 168);
	width: 100%;
	display: flex;
	flex-direction:column;
	padding-bottom:100px;
}

.projectContainer{
	width: 50%;
	margin:auto;
	position:relative;
}

/*project List*/

#projectId1,#projectId2,#projectId3{
	width:100%;
	margin:1%;
	display: flex;
	margin-top: 10%;
	border-radius: 20px;
	opacity:0;
}


/*project animation*/

.projectAppear{
	animation-name: projectEnter;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}

@keyframes projectEnter{
	from{opacity: 0;
	margin-left:-30%;}
	to{opacity: 1;
	margin-left:1%;}
}


.descriptionHide{
	width:100%;
	height:5.4vw;
	background-color:transparent;
	position: absolute;
	z-index:2;
	top:-0.5vw;
	left:0.5vw;
}

.description{
	width:57%;
	height: 54%;
	background-color:  rgba(230, 230, 230,0.7);
	border-radius: 1vw;
	position: absolute;
	top:-1%;
	left:21%;
	opacity: 0;
	font-size: 2vw;
	animation-name:descriptionReverse;
	animation-duration:0.5s;
}

@keyframes descriptionReverse{
	from{opacity:1;
		top:20%;
	}
	to{opacity:0
		top:-1%;
	}
}

.projectAppear:hover ~ .description, .description:hover{
	animation-name: descriptionShow;
	animation-fill-mode: forwards;
	animation-duration: 0.5s;
}

@keyframes descriptionShow{
	from{opacity: 0;
		top: -1%
	}
	to{opacity: 1;
		top: 20%;
	}
}


/*project hover number*/


.projectNHide{
	width:10vw;
	height:7vw;
	background-color:transparent;
	position: absolute;
	z-index:2;
	top:3.5vw;
	left:-9.6vw;
}

.projectN{
	background-color: rgb(230, 230, 230);
	width: 12%;
	height: 19%;
	border-radius: 50px;
	text-align: center;
	display: table-cell;
	font-size: 5vw;
	position: absolute;
	top: 12%;
	left: -6vw;
	opacity: 0;
	animation-name:reverseNumber;
	animation-duration: 0.5s;
}

@keyframes reverseNumber{
	from{opacity:0.7;
		left: -0.5vw;
	}
	to{opacity: 0;
		left: -6vw;
	}
}

.projectAppear:hover ~ .projectN, .projectN:hover, .description:hover ~ .projectN{
	animation-name:showNumber1;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
} 

@keyframes showNumber1{
	from{opacity: 0;
		left: -6vw;
	}
	to{opacity: 0.7;
		left:-0.5vw;
	}
}


/*project 1 hover tecnologies*/

.tecnologiesHide{
	width:6.5vw;
	height:17.5vw;
	background-color:transparent;
	position: absolute;
	z-index:2;
	top:4.9vw;
	left:49.6vw;
}

.tecnologies{
	background-color:rgba(230, 230, 230,0.7);
	width: 13%;
	height: 50%;
	right: -1%;
	margin-top: 1.6%;
	padding-top:2%;
	opacity: 0;
	position: absolute;
	animation-name:reverseTecnologies;
	animation-duration: 0.5s;
	border-radius: 0.3vw;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
        right: -6.7vw;
	top:4.1vw;
}

@keyframes reverseTecnologies{
	from{opacity:1;
	right:-0.5vw;
	}
	to{opacity: 0;
	right:-6.7vw;
	}
}

.projectAppear:hover ~ .tecnologies, .tecnologies:hover, .description:hover ~ .tecnologies{
	animation-name:showTecnologies;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

@keyframes showTecnologies{
	from{opacity: 0;
	right: -6.7vw;
	}
	to{opacity: 1;
	right: -0.5vw;
	}
}

/*Tecnologies Buttons*/

.htmlButton, .cssButton, .javascriptButton{
	width: 70%;
	height: 30%;
	align-self: center;
	background:url(html-css-js-logo.png);
	background-size: 260%;
}

.htmlButton{
	background-position: 0 -7px;
}

.cssButton{
	background-position: 100% -7px;
}

.javascriptButton{
	background-position: 50% -7px;
}

/*projects hover code*/

.seeProjectAndCodeHide{
	width:100%;
	height:5.4vw;
	background-color:transparent;
	position: absolute;
	z-index:2;
	top:32.5vw;
	left:0.5vw;
}

.seeProjectAndCode{
	width: 91.5%;
	height: 15%;
	background-color:rgba(230, 230, 230, 0.7);
	position: absolute;
	left:0.5vw;
	bottom:-4.9vw;
	opacity: 0;
	animation-name:reverseApp;
	animation-duration: 0.5s;
	border-radius: 0.3vw;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

@keyframes reverseApp{
	from{opacity:1;
		bottom:0.5vw;
	}
	to{opacity: 0;
		bottom:-4.9vw;
	}
}

.seeProjectAndCode:hover, .projectAppear:hover ~ .seeProjectAndCode, .description:hover ~ .seeProjectAndCode{
	animation-name:showCode;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

@keyframes showCode{
	from{opacity: 0;
		bottom:-4.9vw;
       
	}
	to{opacity: 1;
		bottom:0.5vw;
	}
}

/*Project and Code buttons*/

.seeProject, .seeCode{
	opacity: 1;
	z-index: 1;
	animation-duration: 0.5s;
	background-color: rgb(102, 31, 168);
	color:rgb(230, 230, 230);
	width: 40%;
	opacity: 0.9;
	border: none;
	height: 50%;
	align-self: center;
	font-size: 1.5vw;
	border-radius: 0.5vw;
}
/* color testing for buttons */
.seeProject:hover, .seeCode:hover{
	border: solid 3px rgb(0, 0, 0);
}

.seeProject:active, .seeCode:active{
	border: solid 2px rgb(197, 25, 25);
}


/*about*/

.about{
	background-color: rgb(102, 31, 168);
	width: 100%;
	height:40vw;
	display:flex;
	flex-direction: column;
	margin: auto;
	position:relative;
}

.aboutTittle{
	background-color:rgb(230, 230, 230);
	margin: 0 auto;
	width:62.5vw;
	height:5vw;
	position:absolute;
	position:relative;
	margin-top:0vw;
	left:18vw;
}

#aboutLetters, #aboutLettersAppear{
	top:-0.5vw;
	display:inline-block;
	position:absolute;
	left:-12vw;
	font-size:2vw;
}

.aboutLettersAppear{
	animation-name:getTittle;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	animation-delay: 0.5s;
}

@keyframes getTittle{
	from{left:-12vw}
	to{left:11vw}
}

.boxup1, .boxup2, .boxup3, .boxup4{
	background-color: transparent;
	display:inline-block;
	position:absolute;
}

.boxup1, .boxup2{
	border-right: solid transparent 1vw;
	border-top: solid rgb(102, 31, 168) 5vw;
}

.boxup2{
	width: 78vw;
	left: -14vw;
}

#boxup2Reveal{
	width: 78vw;
	left: -14vw;
	animation-name:revealAbout;
	animation-duration:1.5s;
	animation-fill-mode:forwards;
	animation-timing-function:ease-in-out;
	animation-delay: 0s;
}

@keyframes revealAbout{
	from{
	width:78vw
	}
	to{
	width:14vw
	}
}

.boxup1{
	border-top: solid white 5vw;
	left:-12vw;
	width: 13vw;
}

.boxup3, .boxup4{
	border-top: solid rgb(102, 31, 168) 25vw;
	border-right: solid transparent 4vw;
	top:9vw;
}

.boxup4{
	left: -1vw;
	width: 100vw;
}

#boxup4Reveal{
	left: -1vw;
	width: 100vw;
	animation-name:revealAboutDescription;
	animation-duration:1.5s;
	animation-fill-mode:forwards;
	animation-timing-function:ease-in-out;
	animation-delay: 0;
}

@keyframes revealAboutDescription{
	from{
	width:100vw;
	}
	to{
	width:13vw;
	}
}

.boxup3{
	border-top: solid white 25vw;
	left: 0vw;
	width: 13vw;
}

.aboutDescriptionBackground{
	background-color: rgb(230, 230, 230);
	position: absolute;
	height:25vw;
	width: 85.5vw;
	top:9vw;
	left:13vw;
}

#aboutDescription, #aboutDescriptionAppear{
	position:absolute;
	top:10.1vw;
	left:20vw;
	width:60vw;
	padding:0vw;
	opacity:0;
	font-size:1.6vw;
}


.aboutDescriptionAppear{
	animation-name:getAboutDescription;
	animation-duration:1.5s;
	animation-fill-mode:forwards;
	animation-timing-function:ease-in-out;
	animation-delay: 1s;
}

@keyframes getAboutDescription{
	from{
	opacity:0;
	left:-60vw;}
	to{
	opacity:1;
	left:20vw;}
}

.contact{
    	background-color: rgb(102, 31, 168);
	width: 100%;
	height:40vw;
	display:flex;
	flex-direction: column;
}

.about p,.contact h2,.contact p{
    margin:auto;
    margin-top: 1%;
    padding: 2% 20%;
}

.contact h2{
    font-size: 3vw;
}
